*{
  margin:0;
  padding:0;
}
.bg{
  background:linear-gradient(135deg,#191d1a,#1a4929);
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height: 100%;
}
.container{
  /* background:linear-gradient(135deg,#850c62,#f80759); */
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  /* width:100%;
  height: 100%; */
}

.app-wrapper{
  background-color:#fff;
  min-width:350px;
  justify-content: center;
  align-items:center;
  border-radius: 10px;
}
.title{
  color:#f00759;
  text-align:center;
  margin:80px 0px 40px 0px;
}

.name,
.email,
.password{
  margin:20px;
  color:#969292;
  font-size:16px;
}


.password{
  margin-bottom:40px;

}

.input{
  height:32px;
  font-size:16px;
  
  outline:none;
  width:100%;
  border-top-style:none;
  border-left-style:none;
  border-right-style:none;
  border-bottom-style:2px solid black;
  margin-bottom:10px;

}
.error{
  color:red;

}

.submit{

  display:flex;
  text-transform:uppercase;
  font-size:14px;
  border-radius:20px;
  color:white;
  padding:10px 60px;
  background:linear-gradient(to right,#ab1dcf,#f80759);
  box-shadow: 5px 8px 20px 3px #111111;
  margin:auto;
  outline:none;
  border:none;
  cursor:pointer;
  transition:all 0.1s;
  margin-bottom: 25px;
  


}
button:active{
  transform:translateY(2px);
}

.form-success{
  display:flex;
  justify-content:center;
  margin-top:25px;
  min-width:370px;
  color:#fdfbfc;
}