
.App-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #00203FFF;
}

.btn{
  margin-top: 1rem;
  border: none;
  background-color: #f3dc09;
  color: #d4a0a0;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #000000;
}


.btn-logout {
  position: relative;
  background-color: #d18b09;
  border: none;
  font-size: 12px !important;
  color: #FFFFFF;
  padding: 5.5px !important;
  width: 80px !important;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px !important;
  margin-top: -28px !important;
  margin-left:150px !important;
}

.btn-logout:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.btn-logout:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.btn-add {
  position: relative;
  background-color: #d18b09;
  border: none;
  font-size: 14px !important;
  color: #FFFFFF;
  padding: 5px !important;
  width: 80px !important;
  font-size: 13px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px !important;
  margin-bottom: px;
  margin-left:-60px !important;
  /* box-shadow: 0px 5px 5px #000000; */
}

